  <!-- JS -->
  <script src="js/{{ pageScript }}" defer></script>
  <script src="js/cookie-banner.js" defer></script>

  <!-- {{ chatbotComment }} -->
  <div id="root"></div>
  <script src="chatbot/js/main.996591d1.js" defer></script>

  <noscript>Per un'esperienza completa abilita JavaScript.</noscript>
  <script src="js/ga-autotrack.js" defer></script>
