  <script src="/js/site-shell.js" defer></script>
  <script src="/js/cookie-banner.js" defer></script>
  <noscript><p class="noscript-note">Il sito resta navigabile senza JavaScript; tema e preferenze interattive usano le impostazioni del browser.</p></noscript>
  <script src="/js/ga-autotrack.js" defer></script>
